:root {
  --mainColor: #e3c590;
  --bgColor: #0e0d0c;
  --bgColor2: #171819;
}
body {
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Forum", serif;
}

.main-button {
  display: inline-block;
  color: var(--mainColor);
  border: 2px solid var(--mainColor);
  padding: 12px 40px;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
  font-weight: 600;
  z-index: 5;
}
.main-button::before,
.main-button::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: var(--mainColor);
  transition-duration: 1s;
}

.main-button::before {
  top: 100%;
}

.main-button::after {
  bottom: 100%;
}
.main-button:hover::before {
  top: 0%;
}

.main-button:hover::after {
  bottom: 0%;
}

.main-button .text {
  position: relative;
  z-index: 5;
  transition-duration: 1s;
}
.main-button:hover .text {
  color: #000;
}

button.prev {
  left: 30px;
}
button.next {
  right: 30px;
}
button.prev i,
button.next i {
  transform: rotate(-45deg);
  transition-duration: 1s;
}
button.prev:hover i,
button.next:hover i {
  color: #000;
}

.rotate-full {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid var(--mainColor);
  animation: rotate-full 10s infinite linear;
}
i.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
}

.telephone {
  color: var(--mainColor);
  font-size: 30px;
  position: relative;
}

.telephone::after,
.telephone::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0%;
  height: 1px;
  background-color: var(--mainColor);
  transform: translateX(-50%);
  transition-duration: 0.5s;
}
.telephone::after {
  bottom: -7px;
}

.telephone:hover::after,
.telephone:hover::before {
  width: 100%;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: start;
  transition-duration: 0.8s;
}

#loadingScreen {
  background-color: var(--mainColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Circle */

#loadingScreen .loadingCircle {
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-top-color: #111;
  border-radius: 50%;
  animation: loadingCircle 1s linear infinite;
}

#loadingScreen .textLoading {
  display: flex;
  gap: 5px;
}




#loadingScreen .letters-loading {
    position: relative;
    display: inline-block;
    font-size: 100px;
    font-weight: 400;
    line-height: 1;
    color: transparent;
    -webkit-text-stroke: 1px #111;
}

/* Filled letter that flips */
#loadingScreen .letters-loading::after {
    content: attr(data-letter);
    position: absolute;
    inset: 0;

    color: #111;

    backface-visibility: hidden;
    transform: rotateY(90deg);

    animation: letterFlip 2s infinite alternate;
    animation-fill-mode: backwards;
}

#loadingScreen .D::after {
    animation-delay: 0s;
}

#loadingScreen .E::after {
    animation-delay: 0.3s;
}

#loadingScreen .L::after {
    animation-delay: 0.6s;
}

#loadingScreen .I::after {
    animation-delay: 0.9s;
}

#loadingScreen .C::after {
    animation-delay: 1.2s;
}

#loadingScreen .I:last-child::after {
    animation-delay: 1.5s;
}